.w3-image{max-width:100%;height:auto}
.initheader{
    padding-left: 19px;
    height: 59px;
    text-align: center;
}
.links a{
    color:rgb(0, 0, 0);
    margin:46px;
}
.incons{
    display: flex;
}
.incone1{
    margin: 16px;
}
.w3-halfi{width:49%;
    padding:0px;
    float:left;
}
